* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

html,
body,
#root {
  height: 100%;
}
.height-100 {
  height: 100%;
}
.header {
  display: flex;
  justify-content: space-between;

  .ant-menu {
    font-size: 1rem;
  }
}
.carousel-title {
  height: 70vh;
  color: #fff;
  line-height: 160px;
  text-align: center;
  background: #364d79;
}
.content-style {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-content {
  display: flex;
  justify-content: center;
  align-items: center;
  .login-button {
    border: 1px solid #ccc;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 1.2rem;
    border-radius: 3px;
    box-shadow: 0 0 3px #ccc;
    transition: all 0.2s;
    &:hover {
      box-shadow: 0 0 5px #aaa;
    }
    img {
      width: 18px;
      height: 18px;
      margin: 0 0.6rem 0 0;
    }
  }
}

.panel-menu {
  .ant-menu-submenu-title {
    display: flex;
    align-items: center;
    img {
      margin: 0 0 0 1rem;
    }
  }
}
